.env
.env.*

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
env/
ENV/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.log


*.pid
*.tar
docker-compose.override.yml

/staticfiles/
media/
db.sqlite3

**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py~    # یا حتی * اگر با مدیریت خاص انجام می‌دی

*.egg-info/
*.egg
dist/
build/

pip-log.txt
pip-delete-this-directory.txt

node_modules/
